/* navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green500);
    padding: 18px 32px;
    color: var(--white);
}

.logo {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Castoro', serif;
}

.signInContainer {
    height: 40px;
}

.signInButton {
    font-size: 16px;
    padding: 10px 16px;
    background-color: var(--success);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
}

.signInButton:hover {
    background-color: #388e3c;
}

.userSection {
    display: flex;
    align-items: center;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username {
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.avatar {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    .userSection {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .signInButton {
        width: 100%;
        padding: 10px 0;
    }
}
